* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #fcf8ff;
    font-family: "Fraunces", serif;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #24053E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 64px 144px;
}
img {
    width: 100%;
}

nav a {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
    text-decoration-color: #44ffa1;
}

nav a:hover {
    color: #44ffa1;
}

.hero{
    position: relative;
    height: 70vh;
    background-color: #24053E;
    width: 100%;
    overflow: hidden;
    
}

.middle-hero-text {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.middle-hero-text h1{
    font-size: 80px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.middle-hero-text h1 span{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px;
    text-decoration-color: #44ffa1;
}

button{
    padding: 12px 32px;
    background-color: #44ffa1;
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #24053E;
    border: 2px solid #44ffa1;
    cursor: pointer;
}

button:hover{
    color: #44ffa1;
    background-color: #24053e00;
}

.left-hero {
    position: absolute;
    top: 0;
    left: -100px;
}
.left-hero img{
    width: 100%;
}
.right-hero {
    position: absolute;
    right: -45px;
    bottom: 50px;
}
.right-hero img{
    width: 100%;
    object-fit: cover;
}

.hero-image img {
    width: 100%;
}
.hero-image{
    width: 50%;
}
.hero-curve {
    position: relative;
    height: 150px;
    width: 100%;
    margin: -50px 0 250px;
    background-color: #24053E;
    clip-path: ellipse(60% 100% at 50% 0%);
    overflow: visible;
}
.bottom-hero {
    position: absolute;
    bottom: -200px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #24053E;
    gap: 25px;
    margin: 0 120px;
    padding-bottom: 50px;
}
.benefit{
    display: grid;
    align-items: center;
    text-align: center;
}
.benefit h2{
    font-size: 24px;
    padding: 10px 24px;
    margin: 0 auto;
    border: 1px solid #24053E;
    border-radius: 50%;
    line-height: 1.67;
    font-weight: 600;
    margin-bottom: 50px;
}
.benefit h3{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
}
.benefit p{
    font-size: 18px;
    line-height: 1.8;
    font-family: "Manrope", sans-serif;
}
.benefits-curve {
    height: 150px;
    width: 100%;
    background-color: #fcf8ff;
    clip-path: ellipse(60% 100% at 50% 0%);
}
.contact{
    padding: 0 0 130px;
    background-color: #fff;
}
.image-text{
    margin: 100px 150px 50px;
    position: relative;
}
.contact-image {
    width: 40%;
}
.contact-image img{
    width: 100%;
}
.contact-text{
    position: absolute;
    top: 150px;
    left: 350px;
    width: 68%;
    padding: 60px;
    background: #24053E;
    
}
.contact-text h4{
    font-size: 56px;
    line-height: 120%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}
.contact-text p{
    color: #fff;
    font-size: 18px;
    line-height: 1.8;
    font-family: "Manrope", sans-serif;
    margin-bottom: 35px;

}
.contact-svg {
    position: absolute;
    bottom: -190px;
    right: 80px;
    width: 220px;
}
.contact-svg img{
    width: 100%;
}

footer {
    padding: 100px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.socials{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}

.social-icon{
    display: flex;
}

.social-icon:hover img {
    filter: brightness(0) saturate(100%) invert(9%) sepia(26%) saturate(2404%) hue-rotate(249deg) brightness(95%) contrast(97%);
}

@media screen and (max-width: 834px) {
    nav {
        padding: 50px;
    }
    .middle-hero-text {
        padding-top: 50px;
        width: 60%;
    }
    .middle-hero-text h1{
        font-size: 60px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: -2px;
    }
    .hero{
        height: 35vh;
    }
    .left-hero {
        left: -225px;
    }
    .right-hero {
        right: -95px;
        bottom: 0;
    }
    .hero-image{
        width: 70%;
    }
    .hero-curve {
        height: 120px;
        margin: 0px 0 200px;
    }
    .bottom-hero {
        bottom: 350px;
    }
    .benefits{
        grid-template-columns: 1fr;
        gap: 32px;
        margin: 0 50px;
        padding-bottom: 0px;
    }
    .benefit{
        grid-template-columns: auto 5fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            'sidebar header-h3'
            'sidebar main-p';
        align-items: center;
        text-align: justify;
    }
    .benefit h2{
        font-size: 20px;
        padding: 8px 20px;
        grid-area: sidebar;
        margin-bottom: 0;
        margin-right: 56px;
    }
    .benefit h3{
        grid-area: header-h3;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .benefit p{
        grid-area: main-p;
        font-size: 16px;
    }
    .benefits-curve {
        height: 100px;
    }
    .contact{
        padding: 0 0 185px;
    }
    .image-text{
        margin: 100px 44px 70px;
    }
    .contact-image {
    width: 45%;
    }
    .contact-text{
        top: 200px;
        left: 210px;
        padding: 48px;
    }
    .contact-text h4{
        font-size: 48px;
        margin-bottom: 32px;
    }
    .contact-text p{
        font-size: 16px;
        margin-bottom: 32px;
    }
    .contact-svg {
        bottom: -370px;
        right: 50px;
    }
    footer {
        padding: 80px;
    }
}


@media screen and (max-width: 600px) {
    nav {
        padding: 50px 20px;
    }
    .middle-hero-text {
        width: 90%;
    }
    .middle-hero-text h1{
        font-size: 48px;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 0;
    }
    .hero{
        height: 45vh;
    }
    .left-hero, .right-hero {
        display: none;
    }
    .hero-image{
        width: 80%;
    }
    .hero-curve {
        height: 100px;
        margin: 0px 0 150px;  
        clip-path: ellipse(70% 100% at 50% 0%);
    }
    .bottom-hero {
        top: 400px;
        bottom: 0px;
    }
    .benefits{
        grid-template-columns: 1fr;
        gap: 32px;
        margin: 0 20px;
        padding-bottom: 0px;
    }
    .benefit{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            'sidebar'
            'header-h3'
            'main-p';
        align-items: center;
        text-align: center;
    }
    .benefit h2{
        font-size: 20px;
        padding: 8px 20px;
        margin: auto;
        margin-bottom: 24px;
    }
    .benefit h3{
        font-size: 24px;
    }
    .contact{
        padding: 0 0 185px;
    }
    .image-text{
        margin: 100px 20px 160px;
    }
    .contact-image {
        width: 100%;
        padding: 0 25px;
    }
    .contact-text{
        width: 100%;
        top: 250px;
        left: 0px;
        padding: 32px;
        text-align: center;
    }
    .contact-text h4{
        font-size: 32px;
        margin-bottom: 32px;
    }
    .contact-text p{
        font-size: 16px;
        margin-bottom: 32px;
    }
    .contact-svg {
        display: none;
    }
    footer {
        padding: 80px;
    }
    
}